/* Estilos generales */
h1{
  color: #fff; /*color del texto del titulo*/
  background-color: #6600A1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 800;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fondo oscuro */
  padding: 20px;
}
/* Remueve el padding y los bullets de la lista */
.nav-links {
    list-style: none;
    padding: 0;
}
  
  /* Hace que cada elemento de la lista se muestre en línea */
.nav-links li {
    display: inline;
}
  
  /* Para añadir algo de espacio entre los enlaces */
.nav-links li a {
    margin-right: 10px; /* Añade espacio a la derecha de cada enlace */
}
  