/* Estilos para la lista de noticias */
.lista-publicaciones {
    display: grid; /* Utiliza CSS Grid para organizar las noticias */
    gap: 20px; /* Espacio entre las noticias */
}

/* Estilos para cada noticia individual */
.publicacion {
    display: grid; /* Utiliza CSS Grid para organizar el contenido de la noticia */
    border: 3px solid #560187; /* Borde de 1px sólido con color #828282 */
    padding: 20px; /* Espaciado interno de 20px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-left: 20px; /* Margen izquierdo de 20px */
    margin-right: 20px; /* Margen derecho de 20px */
    margin-bottom: 20px; /* Márgenes entre las noticias */
    border-radius: 10px; /* Bordes redondeados */
    /* Definición del diseño del grid para la noticia */
    grid-template-areas:
    'titulo titulo titulo titulo titulo fecha'
    'contenido contenido contenido contenido contenido contenido'
    ' . . . juego tipo usuario'; /* Áreas del grid: título, contenido, fecha y usuario */
}

/* Estilo para el botón del título */
.titulo-button {
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    font-size: 1.2em; /* Tamaño de fuente más grande */
    color: #333; /* Color del texto */
    cursor: pointer; /* Cursor de puntero al pasar sobre él */
    transition: color 0.3s; /* Transición suave para el color del texto */
    text-decoration: underline; /* Subrayado */
}

/* Efecto de color al pasar el mouse sobre el botón del título */
.titulo-button:hover {
    color: #4CAF50; /* Cambia el color del texto al pasar el ratón */
}

/* Estilo para los botones de borrar y editar */
.borrar_button, .editar-button {
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    font-size: 1em; /* Tamaño de fuente */
    color: #4b58af; /* Color del texto menos llamativo */
    cursor: pointer; /* Cursor de puntero al pasar sobre él */
    transition: color 0.3s; /* Transición suave para el color del texto */
    padding: 5px 10px; /* Ajuste del relleno */
    border: 1px solid #4b58af; /* Borde fino */
    border-radius: 3px; /* Bordes redondeados */
}

/* Efecto de color al pasar el mouse sobre los botones de borrar y editar */
.borrar_button:hover, .editar-button:hover {
    color: #734242; /* Cambia el color del texto al pasar el ratón */
    border-color: #734242; /* Cambia el color del borde al pasar el ratón */
}

/* Efecto al hacer clic en los botones de borrar y editar */
.borrar_button:active, .editar-button:active {
    transform: translateY(1px); /* Efecto de pulsación */
}


.form-container {
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos para el título de la noticia */
.titulo-publicacion {
    grid-area: titulo; /* Asigna el área del grid para el título */
    font-size: 3ex; /* Tamaño de fuente del título */
}

/* Estilos para la fecha de la noticia */
.fecha-publicacion{
    grid-area: fecha; /* Asigna el área del grid para la fecha */
    text-align: right; /* Alineación de texto a la derecha */
}

/* Estilos para el usuario de la noticia */
.usuario-publicacion {
    grid-area: usuario; /* Asigna el área del grid para el usuario */
    text-align: right; /* Alineación de texto a la derecha */
}

/* Estilos para el contenido de la noticia */
.contenido-publicacion {
    grid-area: contenido; /* Asigna el área del grid para el contenido */
    text-align: left; /* Alineación de texto a la izquierda */
}

.tipo-publicacion{
    grid-area: tipo; /* Asigna el área del grid para el contenido */
    /*text-align: left;  Alineación de texto a la izquierda */
}
.juego-publicacion{
    grid-area: juego; /* Asigna el área del grid para el contenido */
    /*text-align: left;  Alineación de texto a la izquierda */
}

.foro-button {
    display: inline-block; /* Muestra el botón como un bloque en línea */
    padding: 15px 30px; /* Relleno interior */
    font-size: 20px; /* Tamaño de fuente */
    background-color: #FF5732; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: 2px solid transparent; /* Borde del botón (transparente inicialmente) */
    border-radius: 25px; /* Bordes redondeados */
    text-decoration: none; /* Quita el subrayado del enlace */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, border-color 0.3s; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Efecto hover para los botones */
.foro-button:hover {
    background-color: #FF8C00; /* Cambia el color de fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
    border-color: #FF8C00; /* Cambia el color del borde al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón al pasar el ratón */
}

/* Efecto al hacer clic en el botón */
.foro-button:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño del botón al hacer clic */
}

/* Estilo para el formulario */
.formulario-foro {
    max-width: 600px;
    margin: 50px auto; /* Mayor margen superior e inferior para mayor espacio */
    padding: 40px; /* Mayor espacio alrededor del contenido */
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease;
}

/* Efecto de escala al pasar el mouse */
.formulario-foro:hover {
    transform: translateY(-5px); /* Levantar un poco el formulario */
}

/* Estilo para las etiquetas */
.formulario-foro label {
    display: block;
    margin-bottom: 30px; /* Mayor espacio entre etiquetas */
    font-weight: bold;
    color: #333; /* Color del texto de la etiqueta */
}

/* Estilo para los campos de entrada */
.formulario-foro input[type="text"],
.formulario-foro input[type="date"],
.formulario-foro textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px; /* Mayor espacio entre campos de entrada */
    border: 2px solid #ccc; /* Borde */
    border-radius: 10px; /* Bordes redondeados */
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Efecto de color al pasar el mouse sobre los campos de entrada */
.formulario-foro input[type="text"]:hover,
.formulario-foro input[type="date"]:hover,
.formulario-foro textarea:hover {
    border-color: #4CAF50; /* Cambio de color al pasar el mouse */
}

/* Estilo para el botón de enviar */
.formulario-foro input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 20px 30px; /* Mayor tamaño de botón */
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilo para el botón de enviar al pasar el mouse */
.formulario-foro input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Estilo para el botón de enviar al hacer clic */
.formulario-foro input[type="submit"]:active {
    transform: scale(0.95);
}

/* Estilo para los carruseles desplegables */
.formulario-foro select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario-foro select:focus {
    outline: none;
    border-color: #007bff; 
}

/* Estilo para el contenido */
.formulario-foro textarea {
    height: 200px; /* Mayor altura para el campo de contenido */
    resize: none; /* Evita que se pueda redimensionar */
}

/* Estilo para el título */
.formulario-foro #titulo {
    font-size: 1.5em; /* Tamaño de fuente más grande para el título */
    color: #333; /* Color del texto del título */
    border-bottom: 2px solid #ccc; /* Línea inferior */
    margin-bottom: 30px; /* Mayor espacio después del título */
}

/* Estilo para la fecha */
.formulario-foro #fecha {
    font-size: 1.2em; /* Tamaño de fuente más grande para la fecha */
    color: #666; /* Color del texto de la fecha */
}

.formulario-foro #juego {
    margin-bottom: 30px; /* Añade espacio antes del elemento */
}

.formulario-foro #tipo {
    margin-bottom: 30px; /* Añade espacio antes del elemento */
}


.separador {
    border-top: 2px solid #555; /* Establece una línea superior de 1 píxel de ancho y color gris */
    margin: 30px 0; /* Espacio de margen arriba y abajo */
}
