.menu-ordenacion {
    margin-bottom: 20px; /* Margen inferior */
    margin-left: 20px; /* Margen izquierdo */
    margin-right: 20px; /* Margen derecho */
    margin-top: 20px; /* Margen superior */
    text-align: right; /* Alineación del texto a la derecha */
}

/* Estilos para la lista de juegos */
.lista-juegos {
    display: grid; /* Muestra la lista como una cuadrícula */
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre elementos de la cuadrícula */
    padding: 20px; /* Relleno interior */
}

/* Estilos para cada juego */
.juego {
    background-color: #f5f5f5; /* Color de fondo del juego */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    display: grid; /* Muestra el juego como una cuadrícula */
    grid-template-areas: 'posicion nombre nota'; /* Áreas de la cuadrícula */
}

/* Estilos para la información de cada juego */
.info {
    padding: 20px; /* Relleno interior */
    display: flex; /* Muestra los elementos en línea */
    flex-direction: column; /* Dirección de los elementos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    height: 100%; /* Altura del elemento */
}

/* Estilos para la posición y nombre del juego */
.posicion-nombre {
    display: flex; /* Muestra los elementos en línea */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el nombre del juego */
.nombre-juego {
    grid-area: nombre; /* Define el área de la cuadrícula */
    text-align: center; /* Alineación del texto al centro */
    font-weight: bold; /* Grosor de la fuente */
    margin-top: 10px; /* Margen superior */
    margin-bottom: 10px; /* Margen inferior */
    font-size: 22px; /* Tamaño de fuente */
    color: #555; /* Color del texto */
    flex-grow: 1; /* Permite que el nombre ocupe todo el espacio restante */
    margin-right: 10px; /* Margen derecho */
}

/* Estilos para la nota del juego */
.nota-juego {
    padding: 10px;
    grid-area: nota; /* Define el área de la cuadrícula */
    font-size: 34px; /* Tamaño de fuente */
    margin-top: 10px;  /* Margen superior */
    margin-left: 20px;  /* Margen superior */
    font-weight: bold; /* Grosor de la fuente */
    text-align: right; /* Alineación del texto a la derecha */
    margin-right: 20px; /* Margen derecho */
    color: #009688; /* Color del texto */
}

/* Estilos para los botones de los juegos */
.juego-button {
    display: inline-block; /* Muestra el botón como un bloque en línea */
    padding: 15px 30px; /* Relleno interior */
    font-size: 20px; /* Tamaño de fuente */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: 2px solid transparent; /* Borde del botón (transparente inicialmente) */
    border-radius: 25px; /* Bordes redondeados */
    text-decoration: none; /* Quita el subrayado del enlace */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, border-color 0.3s; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-top: 10px; /* Ajuste del margen superior */
}


/* Efecto hover para los botones de los juegos */
.juego-button:hover {
    background-color: #e0a800; /* Cambia el color de fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón al pasar el ratón */
}

/* Efecto al hacer clic en el botón */
.juego-button:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño del botón al hacer clic */
}

/* Animación infinita para los botones */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.juego-button:hover {
    animation: pulse 1s infinite; /* Aplica la animación de pulso */
}

/* Estilo para la animación del top */
.animacion-top {
    animation: pulse 1s infinite; /* Aplica la animación de pulso */
}

/* Estilos para el número de top */
.posicion-juego {
    grid-area: posicion; /* Define el área de la cuadrícula */
    font-size: 34px; /* Tamaño de fuente */
    padding: 10px;
    margin-top: 10px;  /* Margen superior */
    margin-right: 20px;  /* Margen superior */
    color: #333; /* Color del texto */
    font-weight: bold; /* Grosor de la fuente */
    animation: topAnimation 2s infinite alternate; /* Animación del número de top */
}

/* Animación infinita para el número de top */
@keyframes topAnimation {
    0% {
        transform: translateY(0);
        color: #333;
    }
    50% {
        transform: translateY(-1px);
        color: #e0a800;
    }
    100% {
        transform: translateY(0);
        color: #333;
    }
}

/* Estilo para la imagen del juego */
.imagen-juego {
    position: relative; /* Posición relativa */
    align-items: center;
}

/* Estilo para la imagen del juego al pasar el ratón */
.imagen-juego-hover {
    transition: transform 0.3s ease; /* Transición suave */
}

/* Efecto al pasar el ratón sobre la imagen del juego */
.imagen-juego:hover .imagen-juego-hover {
    transform: scale(1.3); /* Aumenta el tamaño al pasar el ratón */
}






/* Estilo para el formulario de añadir juego */
.formulario-agregar {
    max-width: 500px;
    margin: 50px auto; /* Mayor margen superior e inferior para mayor espacio */
    padding: 30px; /* Mayor espacio alrededor del contenido */
    background-color: #f9f9f9;
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transition: transform 0.3s ease;
}

/* Efecto de escala al pasar el mouse */
.formulario-agregar:hover {
    transform: translateY(-5px); /* Levantar un poco el formulario */
}

/* Estilo para las etiquetas */
.formulario-agregar label {
    display: block;
    margin-bottom: 10px; /* Menor espacio entre etiquetas */
    font-weight: bold; /* Texto más destacado */
    color: #333; /* Color de texto más oscuro */
}

/* Estilo para los campos de entrada */
.formulario-agregar input[type="text"],
.formulario-agregar input[type="number"],
.formulario-agregar textarea {
    width: calc(100% - 20px); /* Ajuste para el ancho del borde */
    padding: 10px;
    margin-bottom: 20px; /* Mayor espacio entre campos de entrada */
    border: 2px solid #ccc; /* Borde más grueso */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    resize: none; /* Evita que se pueda redimensionar */
}

/* Efecto de color al pasar el mouse sobre los campos de entrada */
.formulario-agregar input[type="text"]:hover,
.formulario-agregar input[type="number"]:hover,
.formulario-agregar textarea:hover {
    border-color: #4CAF50; /* Cambio de color al pasar el mouse */
}

/* Estilo para el botón de enviar */
.formulario-agregar input[type="submit"] {
    background-color: #d21717;
    color: white;
    padding: 15px 20px; /* Mayor tamaño de botón */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilo para el botón de enviar al pasar el mouse */
.formulario-agregar input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Estilo para el botón de enviar al hacer clic */
.formulario-agregar input[type="submit"]:active {
    transform: scale(0.95);
}


/* Estilo para el formulario de sugerir */
.formulario-sugerir {
    max-width: 500px;
    margin: 50px auto; /* Mayor margen superior e inferior para mayor espacio */
    padding: 30px; /* Mayor espacio alrededor del contenido */
    background-color: #f9f9f9;
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transition: transform 0.3s ease;
}

/* Efecto de escala al pasar el mouse */
.formulario-sugerir:hover {
    transform: translateY(-5px); /* Levantar un poco el formulario */
}

/* Estilo para las etiquetas */
.formulario-sugerir label {
    display: block;
    margin-bottom: 10px; /* Menor espacio entre etiquetas */
    font-weight: bold; /* Texto más destacado */
    color: #333; /* Color de texto más oscuro */
}

/* Estilo para los campos de entrada */
.formulario-sugerir input[type="text"],
.formulario-sugerir input[type="number"],
.formulario-sugerir textarea {
    width: calc(100% - 20px); /* Ajuste para el ancho del borde */
    padding: 10px;
    margin-bottom: 20px; /* Mayor espacio entre campos de entrada */
    border: 2px solid #ccc; /* Borde más grueso */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    resize: none; /* Evita que se pueda redimensionar */
}

/* Efecto de color al pasar el mouse sobre los campos de entrada */
.formulario-sugerir input[type="text"]:hover,
.formulario-sugerir input[type="number"]:hover,
.formulario-sugerir textarea:hover {
    border-color: #4CAF50; /* Cambio de color al pasar el mouse */
}

/* Estilo para el botón de enviar */
.formulario-sugerir input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px; /* Mayor tamaño de botón */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilo para el botón de enviar al pasar el mouse */
.formulario-sugerir input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Estilo para el botón de enviar al hacer clic */
.formulario-sugerir input[type="submit"]:active {
    transform: scale(0.95);
}

/* Estilo para el contenedor del detalle del juego */
.juego-detalle {
    border: 2px solid #ffc107;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
}

.juego-detalle:hover {
    transform: scale(1.005);
}

/* Estilo para el título del juego */
.juego-detalle h2 {
    margin: 0;
    font-size: 32px;
    color: #333;
    border-bottom: 2px solid #ffc107;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
}

.juego-detalle h2:hover {
    color: #e0a800; /* Cambia de color al pasar el ratón sobre el título */
}

/* Estilo para los párrafos dentro del detalle del juego */
.juego-detalle p {
    margin: 20px 0;
    color: #666;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    line-height: 1.5;
    font-size: 20px; /* Aumentar el tamaño de letra */
}

/* Estilo para el último párrafo dentro del detalle del juego */
.juego-detalle p:last-child {
    border-bottom: none;
}

/* Estilo para la información relevante */
.informacion-relevante {
    font-weight: bold;
    color: #e0a800;
    font-size: 24px; /* Tamaño de fuente aumentado */
}

/* Estilo para el formulario de valoración del juego */
.formulario-valoracion {
    margin-top: 20px;
}

/* Estilo para el botón de valorar */
.valorar-button {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    text-transform: uppercase;
}

.valorar-button:hover {
    background-color: #e0a800;
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón sobre el botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra al botón */
    animation: pulse 1s infinite; /* Agrega una animación de pulso infinita */
}

/* Estilo para el formulario de valoración del juego */
.form-valorar-juego {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ffc107;
    border-radius: 10px;
}

/* Estilo para el carrusel de notas */
.carrusel-notas {
    border: none;
}

.carrusel-notas legend {
    font-weight: bold;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-nota {
    display: none;
}
/* Estilo para los números del carrusel */
.label-nota {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px; /* Aumentar el tamaño de los números */
    cursor: pointer;
    color: #666;
    transition: transform 0.2s ease-in-out;
}

.label-nota:hover {
    color: #e0a800;
    transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el ratón */
}

.input-nota:checked + .label-nota {
    font-weight: bold; /* Hacer la nota seleccionada en negrita */
    color: #e0a800; /* Cambiar el color de la nota seleccionada */
    transform: scale(1.1); /* Aumentar ligeramente el tamaño de la nota seleccionada */
}

.animacion-numero {
    animation: pulsar 0.3s ease-in-out infinite alternate; /* Agregar animación al pinchar */
}

@keyframes pulsar {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


/* Estilo para el botón de enviar */
.boton-enviar {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    text-transform: uppercase;
    margin-top: 20px;
}

.boton-enviar:hover {
    background-color: #e0a800;
    transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregar una sombra al botón */
}

.boton-juego {
    display: inline-block;
    padding: 6px 12px; /* Reducir el padding para hacer el botón muy pequeño */
    font-size: 15px; /* Reducir el tamaño del texto del botón */
    background-color: #ff6347; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: 1px solid #ff6347; /* Borde */
    border-radius: 2px; /* Bordes redondeados */
    text-decoration: none; /* Quitar subrayado del enlace */
}
.aceptar-button {
    display: inline-block;
    padding: 6px 12px; /* Reducir el padding para hacer el botón muy pequeño */
    font-size: 15px; /* Reducir el tamaño del texto del botón */
    background-color: #1ed810; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: 1px solid #1ed810; /* Borde */
    border-radius: 2px; /* Bordes redondeados */
    text-decoration: none; /* Quitar subrayado del enlace */
}
.rechazar-button {
    display: inline-block;
    padding: 6px 12px; /* Reducir el padding para hacer el botón muy pequeño */
    font-size: 15px; /* Reducir el tamaño del texto del botón */
    background-color: #db0303; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: 1px solid #db0303; /* Borde */
    border-radius: 2px; /* Bordes redondeados */
    text-decoration: none; /* Quitar subrayado del enlace */
}

.boton-juego:hover {
    background-color: #ff4422; /* Intensificar el color de fondo al pasar el ratón */
}

.boton-juego:active,
.aceptar-button:active,
.rechazar-button:active {
    transform: scale(1.05); /* Aumentar un poco el tamaño al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra al hacer clic */
}

.aceptar-button:hover {
    background-color: #1ecf10; /* Intensificar el color de fondo al pasar el ratón */
}

.rechazar-button:hover {
    background-color: #d70303; /* Intensificar el color de fondo al pasar el ratón */
}

.mensaje-registro {
        font-size: 30px;
        padding: 20px;
        margin-top: 20px;
        background-color: #f9f9f9;
        border: 2px solid #ccc;
        border-radius: 10px;
}