.lista-noticias {
    display: grid;
    gap: 20px;
}

.noticia {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px; /* Márgenes entre las noticias */
    border-radius: 10px; /* Bordes redondeados */
}

.noticia {
    display: grid;
    border: 1px solid #828282;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-left: 20px; /* Margen izquierdo */
    margin-right: 20px; /* Margen derecho */
    margin-bottom: 20px; /* Márgenes entre las noticias */
    border-radius: 10px; /* Bordes redondeados */
    grid-template-areas:
    'titulo titulo titulo titulo titulo fecha'
    'contenido contenido contenido contenido contenido contenido'
    ' . . . . . usuario'
}

.titulo-noticia {
    grid-area: titulo;
    font-size: 3ex;
}

.fecha-noticia{
    grid-area: fecha;
    text-align: right;
}

.usuario-noticia {
    grid-area: usuario;
    text-align: right
}

.contenido-noticia {
    grid-area: contenido;
    text-align: left;
}


/*Formulario*/
.formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="date"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #0056b3;
}